.task {
    margin: 10px auto;
}
.button{
    margin: 10px;
}
.btnactive{
    border: 1px solid  darkolivegreen;
}
.selected {
    border: 1px solid red;
}
.date {
    font-size: 12px;
    margin-bottom: 3px;
}
.title {
    color: darkolivegreen;}
.title:hover {
    color: darkolivegreen;
}
.span {
    color: rgb(61, 77, 34);
    font-weight: 500;
}
