.footer {
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    color: #000;
    width: 100wh;
}
.footer>div>span{
    color: darkred;
}
.footerFirst {
max-width: 500px;
padding:  20px 0;
}
.footerFirst>h3 {
    font-size: 25px;
    padding-bottom: 15px ;
}
.footerSec {
padding-bottom: 15px;
}
.footerSec>ul>li {
    list-style-type: none;
}
.footerSec>ul>li>a {
    color: #000;
}

@media screen and (max-width: 670px) {
    .footerFirst {
        padding: 20px 15px;
    }
    .footerSec {
        padding: 20px 15px
    }
}